html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/* Header/Navigation Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: relative;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

span {
  padding: 15px;
}

a {
  color: seashell;
}

/* Welcome Section */

.welcome img {
  z-index: 1;
  height: 700px;
  width: 1200px;
}

.welcome {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.mission {
  display: block;
  position: relative;
  width: 100%;
  bottom: 400px;
  z-index: 1;
  background-color: black;
}

/* Tea Section */

.content {
  display: flex;
}

.content img {
  padding: 10px 20px;
  height:200px;
  width: 300px;
}


.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
